<app-navbar></app-navbar>
<div class="p-28">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 space-x-4  mx-30 my-50">
    <!-- Dosa restuarant-1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/idli1" routerLinkAcitve>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCe9MpI4sKmPN2IyE1zMqQBcAOuJFDX5ICog&s" alt="Pizza Hut" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Authentic Eats By Docs Diet</h2>
        <p class="text-sm text-gray-500">South Indian, Indian <br>Nizampet & Pragathi Nagar</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 25-30 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28  ">10% OFF UPTO ₹50</div>
      </div>
    </a>
    </div>

    <!-- Dosa restuarant-2 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70 opacity-50">
        <a routerLink="/dosa2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFWXlkDrWJ3R8bgLWxuwk95SUcMJwxNnMwlw&s" alt="KFC" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Sree Amba Bhavani Hotel</h2>
        <p class="text-sm text-gray-500">South Indian <br>Nizampet & Pragathi Nagar</p>
        <p class="text-sm text-green-500 font-semibold">3.0 • 20-25 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-0 ">SOLD OUT</div>
      </div>
    </a>
    </div>

    <!-- Dosa restuarant-3-->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/idli2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyyLK5zjKJ3xKBFSgHkp8DeMvzaRomJ-VJSg&s" alt="Burger King" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Millet Express</h2>
        <p class="text-sm text-gray-500">South Indian,Healthy Food<br>Kukatpally</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 30-35 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28">30% OFF UPTO ₹75</div>
      </div>
    </a>
    </div>
<!-- Dosa restuarant-4 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70 opacity-50">
<a routerLink="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8R97tOtTUYHlq0FIY1OY_xFT-sXOsnfdVrA&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Break Time Lounge</h2>
<p class="text-sm text-gray-500">Indian,<br> Ameerpet</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-0">SOLD OUT</div>
</div>
</a>
</div>

<!--Dosa restuarant-5 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgo8ZnFXobiHSMTIqsVe-QY1nmRMy32hrQ1Q&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Ragavendra Udipi Tiffins</h2>
<p class="text-sm text-gray-500">South Indian<br>Kukatpally</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 15-25 mins</p>
<div class="mt-2 text-sm absolute top-28 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded">30% OFF UPTO ₹75</div>
</div>
</a>
</div>
<!--Dosa restuarant-6 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70 opacity-50">
<a routerLink="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlmXnYw9EsnLRUfJM0lf65KD51tj7NOguhOw&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Gandikota Dosa</h2>
<p class="text-sm text-gray-500">South Indian,Indian <br>Nizampet & Pragathi Nagar</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm absolute top-0 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded ">SOLD OUT</div>
</div>
</a>
</div>

</div>
</div>