<app-navbar></app-navbar>
<div class="p-28">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 space-x-4  mx-30 my-50">
    <!-- Dosa restuarant-1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/dosa1" routerLinkAcitve>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFyzVosOhwBvxacd3o6pzFrBNDM_mkQ6uCxQ&s" alt="Pizza Hut" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Authentic Eats By Docs Diet</h2>
        <p class="text-sm text-gray-500">South Indian, Indian <br>Nizampet & Pragathi Nagar</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 25-30 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28  ">10% OFF UPTO ₹50</div>
      </div>
    </a>
    </div>

    <!-- Dosa restuarant-2 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/dosa2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTENbgrP1iKcPnPoLg0GjDFtlCfc1EEZSLSYQ&s" alt="KFC" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Sree Amba Bhavani Hotel</h2>
        <p class="text-sm text-gray-500">South Indian <br>Nizampet & Pragathi Nagar</p>
        <p class="text-sm text-green-500 font-semibold">3.0 • 20-25 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28 ">30% OFF UPTO ₹80</div>
      </div>
    </a>
    </div>

    <!-- Dosa restuarant-3-->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/dosa3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTinCKGPNr2g5zx4Qet43b2n3rGXhO-_ppJww&s" alt="Burger King" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Millet Express</h2>
        <p class="text-sm text-gray-500">South Indian,Healthy Food<br>Kukatpally</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 30-35 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28">30% OFF UPTO ₹75</div>
      </div>
    </a>
    </div>
<!-- Dosa restuarant-4 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/dosa3">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr6oYYSnlcMm77M0uld6Q_uFzh2andfK9MxQ&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Break Time Lounge</h2>
<p class="text-sm text-gray-500">Indian,<br> Ameerpet</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28">30% OFF UPTO ₹75</div>
</div>
</a>
</div>

<!--Dosa restuarant-5 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/dosa2">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiA5dI2pxy3ooBgU6SSw-Y2gR68tMU3PT8rA&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Ragavendra Udipi Tiffins</h2>
<p class="text-sm text-gray-500">South Indian<br>Kukatpally</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 15-25 mins</p>
<div class="mt-2 text-sm absolute top-28 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded">30% OFF UPTO ₹75</div>
</div>
</a>
</div>
<!--Dosa restuarant-6 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/dosa1">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkOb-aXI4oRsUOnQFlL9tMxL3GTSMVBb8ETA&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Gandikota Dosa</h2>
<p class="text-sm text-gray-500">South Indian,Indian <br>Nizampet & Pragathi Nagar</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm absolute top-28 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded">30% OFF UPTO ₹75</div>
</div>
</a>
</div>

</div>
</div>