<app-navbar></app-navbar>
<div class="p-28">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 space-x-4  mx-30 my-50">
    <!-- chinese -1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/chinese1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ__ZQHI9CmI87nYQvi2G0AEd3bHLS-UqsLAQ&s" alt="Pizza Hut" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Chinese Wok</h2>
        <p class="text-sm text-gray-500">Chinese,Asian, Attapur</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 50-55 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28  ">50% OFF UPTO ₹100</div>
      </div>
    </a>
    </div>

    <!--chinese -2 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/chinese2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0DKUPcuFxvw6QUXa_2nmtgbl62kQyuRJg2Q&s" alt="KFC" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Tipsy Topsy Bakers</h2>
        <p class="text-sm text-gray-500">Burgers, Fast Food, Inner Ring Road</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28 ">40% OFF UPTO ₹80</div>
      </div>
    </a>
    </div>

    <!--chinese-3 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
        <a routerLink="/chinese3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Shanghai_Fried_Noodles%EF%BC%88%E4%B8%8A%E6%B5%B7%E7%82%92%E9%9D%A2%29.jpg/220px-Shanghai_Fried_Noodles%EF%BC%88%E4%B8%8A%E6%B5%B7%E7%82%92%E9%9D%A2%29.jpg" 
      alt="Burger King" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">Tabla Restuarant</h2>
        <p class="text-sm text-gray-500">Noth Indian,Chinese, Attapur</p>
        <p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
        <div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28">30% OFF UPTO ₹75</div>
      </div>
    </a>
    </div>
<!-- chinese -4-->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/chinese3">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLh-j94yZIMjiqIJuE6poUdqu1oW9CqfW41fChFYSXiRsAIWY_PyKge9mabYprIQccXaA&usqp=CAU" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">$ Roots Kitchen</h2>
<p class="text-sm text-gray-500">South Indian,Chinese , Attapur</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded absolute top-28">30% OFF UPTO ₹75</div>
</div>
</a>
</div>

<!-- chinese-5 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/chinese2">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjgqYebZMvTMxrvaiqybkb-4lj-8uu8GL3jQ&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Mayur Resturant</h2>
<p class="text-sm text-gray-500">Andhra Biryani</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm absolute top-28 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded">30% OFF UPTO ₹75</div>
</div>
</a>
</div>
<!--chinese-6 -->
<div class="bg-white rounded-lg shadow-lg overflow-hidden relative hover:opacity-70">
<a routerLink="/chinese1">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSebXC7AxDfcAsnkDSIE6UGDh0SwoCs6bf5pw&s" alt="Burger King" class="w-full h-40 object-cover">
<div class="p-4">
<h2 class="text-lg font-semibold">Mehfil</h2>
<p class="text-sm text-gray-500">Burgers, Biryani, Kukatpally</p>
<p class="text-sm text-green-500 font-semibold">4.1 • 20-25 mins</p>
<div class="mt-2 text-sm absolute top-28 font-bold bg-black bg-opacity-50 text-gray-200 px-2 py-1 rounded">30% OFF UPTO ₹75</div>
</div>
</a>
</div>
</div>
</div>